body{
    color: black;
    margin: 10px;
}

.container{
    max-width: 1200px;
    margin: 0;
    
}
.pole{
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-left: 40px;
}
.medicalEquipment1{
    margin-left: 50px;
}
.medicalEquipment2{
    margin-left: 50px;
}
.medicalEquipment3{
    margin-left: 50px;
}
.card{
    display: block;
    width: 300px;
}
.img{
    width: 200px;
    height: 200px;
}
.parens{
    display: flex;
    text-align: center;
    margin-left: 50px;
}

.cardParens1{
    display: flex;
}
.cardParens2{
    display: flex;
    margin-left: 50px;
}

.parensImg{
    width: 200px;
    height: 200px;
}